<!DOCTYPE HTML>

<html>
<head>
  <title>About</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="static/assets/css/main.css"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <noscript>
    <link rel="stylesheet" href="static/assets/css/noscript.css"/>
  </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <a href="index.html" class="logo"><strong>Felicia</strong></a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">HOME</a></li>
      <li><a href="works.html">WORKS</a></li>
      <li><a href="about.html">ABOUT</a></li>
    </ul>
    <ul class="actions stacked">
      <li><a href="#" class="button primary fit">Get Started</a></li>
      <li><a href="#" class="button fit">Log In</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main" class="alt">

    <!-- One -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h1>About</h1>
        </header>
        <span class="image main"><img src="static/images/pic11.jpg" alt=""/></span>
        <p> Hi! I’m Felicia Mann, 10+ years in Software Engineering, front-end focused, back-end learner, full-stack
          supporter. I love what I do! Such a great mix of constantly learning new technologies, tools and coding while
          also getting to know, learn from and work with smart problem-solvers every day.
        <p>
        <p>I’m a lover of the outdoors, working-out and hanging with my kiddos. I try to combine those three things as
          much as possible as a busy mother of two (and 2 doggos), time is of the essence. </p>
        <p>Depending on the season you can usually find me snowboarding, hiking, camping, paddleboarding, working on the
          yard, at the park, trampoline jumpin’, talking to my plants or playing pretend with the kids. I love making a
          good home-cooked meal, cozy movie nights, a good book and spending time outdoors. I am from Albuquerque, New
          Mexico and have lived in Denver and surrounding areas for over a decade. I love to meet new people and grow my
          network so please reach out if you'd like to connect. </p>
      </div>
    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="https://www.linkedin.com/in/felicia-mann-303/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
      </ul>
    </div>
  </footer>

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.scrolly.min.js"></script>
<script src="/static/assets/js/jquery.scrollex.min.js"></script>
<script src="/static/assets/js/browser.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>

</body>
</html>