<!DOCTYPE HTML>

<html>
<head>
  <title>Felicia Mann Portfolio</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="static/assets/css/main.css"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <noscript>
    <link rel="stylesheet" href="static/assets/css/noscript.css"/>
  </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <!-- Note: The "styleN" class below should match that of the banner element. -->
  <header id="header" class="alt style2">
    <a href="index.html" class="logo"><strong>Felicia</strong></a>
    <nav>
      <a href="#menu">Menu</a>
    </nav>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">HOME</a></li>
      <li><a href="works.html">WORKS</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <!--							<li><a href="elements.html">Elements</a></li>-->
    </ul>
  </nav>

  <!-- Banner -->
  <!-- Note: The "styleN" class below should match that of the header element. -->
  <section id="banner" class="style2">
    <div class="inner">
							<span class="image">
								<img src="static/images/pic07.jpg" alt=""/>
							</span>
      <header class="major">
        <h1>Works & Professional Career</h1>
      </header>
      <div class="content">
        <p>10+ years as an accomplished Senior Software Engineer confident in architecting, development and team
          leadership. Consistent in accomplishing project goals and satisfying customers with exceptional
          software solutions. Well versed in current technologies, quickly adapting to new languages and
          frameworks. Strong focus on fostering team members' growth and happiness, ensuring a collaborative
          and positive work environment. A passionate problem solver with a commitment to innovation,
          efficiency, and continuous learning.</p>
      </div>
      <p>
        <button>
          <a href="resume.html" target=”_blank”>View Resume</a>
        </button>
        <button>
          <a href="/static/media/feliciaResumeSpring2024.pdf" download="feliciaResumeSpring2024.pdf">Download Resume</a>
        </button>
        <button>
          <a href="https://www.linkedin.com/in/felicia-mann-303/" target=”_blank”>LinkedIn | References</a>
        </button>
      </p>
    </div>
  </section>

  <!-- Main -->
  <div id="main">

    <!-- One -->
    <!--							<section id="one">-->
    <!--								<div class="inner">-->
    <!--									<header class="major">-->
    <!--										<h2>Experience</h2>-->
    <!--									</header>-->
    <!--									<ul class="alt">-->
    <!--										<li>Senior Angular Full Stack Engineer - Various industries</li>-->
    <!--										<li>Python Developer – Agriculture Client</li>-->
    <!--										<li>Dev-ops/Migration Engineer - Live TV Programming & Service Migrations</li>-->
    <!--									</ul>-->
    <!--								</div>-->
    <!--							</section>-->

    <!-- Two -->
    <section id="two" class="spotlights">
      <section>
        <a href="" class="image">
          <img src="static/images/pic07.jpg" alt="" data-position="center center"/>
        </a>
        <div class="content">
          <div class="inner">
            <header class="major">
              <h3>Professional Career</h3>
            </header>
            <ul class="alt">
              <li>Architect | Multi-Screen Audience Platform (MAP) - Large Communications Enterprise
                Industry
              </li>
              <li>Senior Angular Full Stack Engineer | Various industries</li>
              <li>Python Data Developer | Agriculture Client</li>
              <li>Dev-ops/Migration Engineer | Live TV Programming & Service Migrations</li>
            </ul>
            <ul class="actions">
              <li><a href="about.html" class="button">Learn more</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <a href="about.html" class="image">
          <img src="static/images/pic09.jpg" alt="" data-position="center center"/>
        </a>
        <div class="content">
          <div class="inner">
            <header class="major">
              <h3>Technologies</h3>
            </header>
            <ul>
              <li>Angular</li>
              <li>TypeScript</li>
              <li>Python</li>
              <li>Various Opensource Databases</li>
              <li>SQL</li>
              <li>NgRx/Rxjs</li>
              <li>GraphQL</li>
              <li>Jest / Jasmine / Gherkin</li>
              <li>Python</li>
              <li>React</li>
            </ul>
            <ul class="actions">
              <li><a href="about.html" class="button">Learn more</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <a href="about.html" class="image">
          <img src="static/images/pic10.jpg" alt="" data-position="center center"/>
        </a>
        <div class="content">
          <div class="inner">
            <header class="major">
              <h3>Skills</h3>
            </header>
            <ul>
              <li>Web Application Development</li>
              <li>Architecture and Team Lead Roles</li>
              <li>Fullstack Development: 10+ years</li>
              <li>Data Development</li>
              <li>SDLC Process (Software development lifecycle)</li>
              <li>CI / CD Best Practices</li>
              <li>Rest APIs and GraphQL APIs</li>
              <li>Microservices and Gateways</li>
              <li>Gracenote Station Integrations</li>
              <li>Cares greatly about the human experience of team members</li>
            </ul>
            <ul class="actions">
              <li><a href="about.html" class="button">Learn more</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <a href="about.html" class="image">
          <img src="static/images/pic09Old.jpg" alt="" data-position="center center"/>
        </a>
        <div class="content">
          <div class="inner">
            <header class="major">
              <h3>Certification</h3>
            </header>
            <div class="aws">
              <img src="static/images/aws.png" alt="" data-position="center center" width="250"
                   height="250"/>
            </div>
            <ul class="actions">
              <li><a href="about.html" class="button">Learn more</a></li>
            </ul>
          </div>
        </div>
      </section>
    </section>

    <!-- Three -->
    <!--							<section id="three">-->
    <!--								<div class="inner">-->
    <!--									<header class="major">-->
    <!--										<h2>Massa libero</h2>-->
    <!--									</header>-->
    <!--									<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>-->
    <!--									<ul class="actions">-->
    <!--										<li><a href="about.html" class="button next">Get Started</a></li>-->
    <!--									</ul>-->
    <!--								</div>-->
    <!--							</section>-->

  </div>

  <!-- Contact -->
  <section id="contact">
    <div class="inner">

      <section>
        <h1>GET IN TOUCH</h1>
        <form method="post" action="submit_form">
          <div class="fields">
            <div class="field half">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" required/>
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" required/>
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="6"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" class="primary"/></li>
            <li><input type="reset" value="Clear"/></li>
          </ul>
        </form>
      </section>
      <section class="split">
        <section>
          <div class="contact-method">
            <span class="icon solid alt fa-envelope"></span>
            <h3>Email</h3>
            <a href="#">fmann505@gmail.com</a>
          </div>
        </section>
        <section>
          <div class="contact-method">
            <span class="icon solid alt fa-phone"></span>
            <h3>Phone</h3>
            <span>(505) 401-4415</span>
          </div>
        </section>
        <section>
          <div class="contact-method">
            <span class="icon solid alt fa-home"></span>
            <h3>Location</h3>
            <span>Denver, CO<br/></span>
          </div>
        </section>
      </section>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <ul class="icons">
        <li><a href="https://www.linkedin.com/in/felicia-mann-303/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
      </ul>
    </div>
  </footer>

</div>

<!-- Scripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/jquery.scrolly.min.js"></script>
<script src="/static/assets/js/jquery.scrollex.min.js"></script>
<script src="/static/assets/js/browser.min.js"></script>
<script src="/static/assets/js/breakpoints.min.js"></script>
<script src="/static/assets/js/util.js"></script>
<script src="/static/assets/js/main.js"></script>

</body>
</html>